.hidden{
    display: none;
  }
  .checkbox{
    display:none;
  }

  .allstudents-courses-list{
    text-align: center;
    height: 410px;
   
    overflow: scroll;
    box-align: center;
    margin-left: 400px;
    margin-right: 400px;
    border: 1px solid grey;
    background-color: #F5F5F5;
}