.hidden{
    display: none;
  }
  .checkbox{
    display:none;
  }

  .allstudents-courses-list{
    text-align: center;
    height: 410px;
   
    overflow: scroll;
    box-align: center;
    margin-left: 400px;
    margin-right: 400px;
    border: 1px solid grey;
    background-color: #F5F5F5;
}

.Loader{
  width: 100%;
  height: 100%;
  background-color:rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 99;
  padding:25%;
  padding-left: 45%;
}