.navbar-container{
   margin-bottom: 30px;
}

.navbar-container ul{
    margin: 0;
    list-style: none;
    background-color: #191919
}

.navbar-container ul li{
    display: inline;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}
.tableheading{
    background-color: #e5e5e59d
}

.navbar-brand {
    display: flex;
    align-items: center;
  }
  .navbar-brand>img {
    padding: 7px 14px;
  }

.courses-list{
    text-align: center;
    height: 410px;
    overflow: scroll;
    margin-left: 60px;
    margin-right: 60px;
    border: 1px solid grey;
    background-color:#F5F5F5;
}
.virtualcourse-list{
    text-align: center;
    height: 410px;
    overflow: scroll;
    margin-left: 60px;
    margin-right: 60px;
    border: 1px solid grey;
    background-color: #F5F5F5;
}

.row{
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-top: 2%;
}

.upload-csv input{
    margin: auto;
}

.generate{
  padding-top: 25%;
}
.generate input{
   margin-bottom: 2%;
}

.generate input[type=text], .generate select{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.generate input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.timetable{
    margin: 0;
}

.timetable input[type=text], .timetable select{
    width: 80%;
    padding: 8px 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../assets/200.png) 96% / 9% no-repeat;
}

.checklist{
    padding-top: 30px;
}

.datepicker{
    width: 100% !important;
}

.table-remove {
    color: #700;
  cursor: pointer;

    }

.table-add {
        color: #070;
        cursor: pointer;
        /* position: absolute;
        top: 8px;
        right: 0; */
 
      }

 .navbar {
        background-color: #2a00e77c;
        background-image: linear-gradient(to bottom, grey,rgba(0, 0, 0, 0.842));
        border-bottom: 1px solid #ccc;
        margin-bottom: 1px !important;
 } 
   .even {
        background-color: rgb(96, 119, 170);
        }
    .odd {
          background-color: grey;
}
body, html {
    height: 50%;
    background-repeat: no-repeat;
    background-image: url(/sdp_frontend/public/bkgnd.jpg) no-repeat center center fixed;
 
}
