.navbar-container{
   margin-bottom: 30px;
}

.navbar-container ul{
    margin: 0;
    list-style: none;
    background-color: #191919
}

.navbar-container ul li{
    display: inline;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}

.courses-list{
    height: 350px;
    overflow: scroll;
}
.row{
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-top: 2%;
}